* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(141, 138, 138);
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  justify-content: center;
  height: 100;
  color: #000;
}


.dark-mode{
  background-color: black;
  color: #fff;
}
h3 {
  color: white;
  margin: 20px;
  text-align: center;
}

.container {
  width: 50%;
}

textarea {
  display: block;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 0;
  font-size: 16px;
}

.tag {
  background-color: #2bf045;
  color: white;
  border-radius: 10%;
  padding: 10px 20px;
  margin: 0 5px 10px 0;
  font-size: 14px;
  display: inline-block;
}

.tag.highlight {
  background-color: rgb(255, 0, 128);
}
